GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

GOOGLE_SPREADSHEET_ID=
GOOGLE_SHEET_GID=

GOOGLE_DRIVE_ROOT_FOLDER_ID=
GOOGLE_OAUTH_CLIENT_SECRET_FILE=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=
GOOGLE_OAUTH_REFRESH_TOKEN=

RENIEC_API_TOKEN=
GOOGLE_DRIVE_CV_FOLDER_ID=
GOOGLE_DRIVE_FOTO_FOLDER_ID=
